<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-body text-center">
        <span>
          <h1 class="text-success site-title">Neighborhood Marketplace 🥕</h1>
          <h2 class="text-"><u>Available Products</u></h2>
          <button class="btn-success float-end btn-lg" routerLink="/create-product">Add Product</button>
          <table class="table table-striped mt-5">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Edit/Delete?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">AEW DVD</td>
                <td>Movie/Entertainment</td>
                <td>Main St, Ephraim,UT</td>
                <td>$25</td>
                <td>
                    <i class="fa-solid fa-pen-to-square icon text-success"></i>
                    <i class="fa-solid fa-trash-can icon text-danger"></i>
                </td>
              </tr>

              <tr>
                <td scope="row">AEW DVD</td>
                <td>Movie/Entertainment</td>
                <td>Main St, Ephraim,UT</td>
                <td>$25</td>
                <td>
                    <i class="fa-solid fa-pen-to-square icon text-success"></i>
                    <i class="fa-solid fa-trash-can icon text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </div>
    </div>
  </div>
</div>
